#top
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.musikore-navbar
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.musikore-logo{:href => root_path}
          = image_tag("musikore.svg", height: '32', alt: 'Brand')
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse.musikore-navbar-collection
        %ul.nav.navbar-nav.musikore-navbar-item
          %li
            %a.active{:href => root_path} Home
        %ul.nav.navbar-nav.navbar-right.musikore-navbar-item
          - if user_signed_in?
            %li
              = link_to image_tag("upload.svg", height: '20', alt: 'Upload_icon'), upload_path
            %li
              = link_to current_user.username, user_path(current_user.username)
            %li
              = link_to "Edit Profile", edit_user_registration_path
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Log in", new_user_session_path
            %li
              = link_to "Sign up", new_user_registration_path
