!!! 5
%html(lang="en")
  %head
    = render 'shared/head'

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render 'shared/header'

    = yield :header_fluid

    #main
      .container
        = yield

    = render 'shared/footer'

    -# %nav.navbar.navbar-default.navbar-fixed-bottom
    -#   .container
    -#     .center
    -#       %a#footerlogo.navbar-brand.musikore-footer-logo{:href => root_path}
    -#         = image_tag("musikore-com.svg", height: '18', alt: 'Brand')
